.sfdx
.vscode
.DS_Store
.idea/encodings.xml
.idea/illuminatedCloud.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
force-app/main/default/profiles/Admin.profile-meta.xml
force-app/main/default/profiles/Custom%3A Marketing Profile.profile-meta.xml
force-app/main/default/profiles/Custom%3A Sales Profile.profile-meta.xml
force-app/main/default/profiles/Custom%3A Support Profile.profile-meta.xml
force-app/main/default/settings/OrgPreference.settings-meta.xml
IlluminatedCloud/OwlinSprint1/OfflineSymbolTable.zip
Owlin.iml
force-app/main/default/layouts/Account-Account %28Marketing%29 Layout.layout-meta.xml
force-app/main/default/layouts/Account-Account %28Sales%29 Layout.layout-meta.xml
force-app/main/default/layouts/Account-Account %28Support%29 Layout.layout-meta.xml
force-app/main/default/layouts/Account-Account Layout.layout-meta.xml
.idea/inspectionProfiles/Project_Default.xml
force-app/main/default/flexipages/Test_LWC.flexipage-meta.xml
package-lock.json
node_modules
.idea/workspace.xml___jb_tmp___
IlluminatedCloud/topNews/OfflineSymbolTable.zip
force-app/main/default/flexipages/Account_Record_Page.flexipage-meta.xml
force-app/main/default/flexipages/Account_Record_Page1.flexipage-meta.xml
force-app/main/default/objects/Account/Account.object-meta.xml
force-app/main/default/objects/Account/fields/AccountNumber.field-meta.xml
force-app/main/default/objects/Account/fields/AccountSource.field-meta.xml
force-app/main/default/objects/Account/fields/AnnualRevenue.field-meta.xml
force-app/main/default/objects/Account/fields/BillingAddress.field-meta.xml
force-app/main/default/objects/Account/fields/CleanStatus.field-meta.xml
force-app/main/default/objects/Account/fields/DandbCompanyId.field-meta.xml
force-app/main/default/objects/Account/fields/Description.field-meta.xml
force-app/main/default/objects/Account/fields/DunsNumber.field-meta.xml
force-app/main/default/objects/Account/fields/Fax.field-meta.xml
force-app/main/default/objects/Account/fields/Industry.field-meta.xml
force-app/main/default/objects/Account/fields/Jigsaw.field-meta.xml
force-app/main/default/objects/Account/fields/NaicsCode.field-meta.xml
force-app/main/default/objects/Account/fields/NaicsDesc.field-meta.xml
force-app/main/default/objects/Account/fields/Name.field-meta.xml
force-app/main/default/objects/Account/fields/NumberOfEmployees.field-meta.xml
force-app/main/default/objects/Account/fields/OperatingHoursId.field-meta.xml
force-app/main/default/objects/Account/fields/OwnerId.field-meta.xml
force-app/main/default/objects/Account/fields/Ownership.field-meta.xml
force-app/main/default/objects/Account/fields/ParentId.field-meta.xml
force-app/main/default/objects/Account/fields/Phone.field-meta.xml
force-app/main/default/objects/Account/fields/Rating.field-meta.xml
force-app/main/default/objects/Account/fields/ShippingAddress.field-meta.xml
force-app/main/default/objects/Account/fields/Sic.field-meta.xml
force-app/main/default/objects/Account/fields/SicDesc.field-meta.xml
force-app/main/default/objects/Account/fields/Site.field-meta.xml
force-app/main/default/objects/Account/fields/TickerSymbol.field-meta.xml
force-app/main/default/objects/Account/fields/Tradestyle.field-meta.xml
force-app/main/default/objects/Account/fields/Type.field-meta.xml
force-app/main/default/objects/Account/fields/Website.field-meta.xml
force-app/main/default/objects/Account/fields/YearStarted.field-meta.xml
